body{
    background-color: #eeeeee;
    font-family: sans-serif;
}


h1{
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: red;
    background-color: #888888;
    font-weight: bold;
}

h3{
    color:#8b0e92 ;
    background-color: #aaaaaa;
    font-weight: bold;
}

p{
    background-color: #cccccc;
    color: black;
    font-size: 105%;
}

div{
    background-color: white;
    text-align: right;
}

span{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    
}
span.numeros{
    color:#00804a;
    text-decoration: none;
}